/* Variables */
:root {
  --main-bg-color: grey;
  --main-txt-color: white;
  --main-font-family: "Roboto Mono", monospace;
  --main-font-size: 18px;
  --main-primary: #d8eeeb;
}

/* Global Classes */
.pd-2 {
  padding: 18px;
}
.box-padding {
  padding: 9px 18px;
}
.space-margin {
  margin: 18px 0;
}
.mrg-top-1 {
  margin-top: 9px;
}
.mrg-bottom-lg {
  margin-bottom: 90px;
}
.box-border {
  border: 3px solid var(--main-bg-color);
  border-radius: 9px;
}

/* Element Styles */
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}
h1 {
  padding: 18px 0;
}
h3 {
  font-weight: 300;
  font-style: italic;
}
form {
  width: 50%;
  margin: 0 auto;
  color: #000000;
  border: 3px dashed var(--main-txt-color);
  border-radius: 18px;
}
fieldset {
  background-color: var(--main-primary);
  border: none;
  border-radius: 9px;
  position: relative;
}
legend {
  background-color: var(--main-primary);
}
input {
  width: 100%;
  border: none;
  font-family: var(--main-font-family);
  outline: none;
}
button {
  background-color: var(--main-primary);
  position: absolute;
  bottom: -12%;
  right: 0;
  font-weight: bold;
}
button:hover {
  background-color: #eed8db;
  border: solid 2px var(--main-txt-color);
  cursor: pointer;
}
input,
label {
  margin-bottom: 18px;
  box-sizing: border-box;
}
select,
option,
textarea,
button {
  font-family: var(--main-font-family);
}
input[type="checkbox"] {
  max-width: 15%;
}
/* Style option selected color */
select,
select > option {
  background-color: #eed8db;
}
nav,
footer {
  background-color: #eed8db;
  color: black;
  max-width: 100%;
  height: 90px;
}
footer {
  padding-top: 27px;
}
ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
  padding-right: 27px;
}
li:hover {
  background-color: var(--main-bg-color);
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

/* Select Styles */
.container {
  margin: 1% 10%;
  padding-bottom: 90px;
}
.check-box {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  position: relative;
}
.check-box input,
.check-box label {
  margin-bottom: 0;
}
.check-box label {
  width: 50%;
}
.txt-msg {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.select-menu {
  padding: 18px 0;
}
/* Hide the browser's default checkbox */
.check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create unique checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 18px;
  height: 18px;
  width: 18px;
  background-color: #000;
}
/* On mouse-over, add a grey background color */
.check-box:hover input ~ .checkmark {
  background-color: var(--main-bg-color);
}
/* When the checkbox is checked, add a different color background */
.check-box input:checked ~ .checkmark {
  background-color: #464047;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.check-box input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.check-box .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.nav-box:first-child {
  align-self: center;
  flex-grow: 1;
  flex-basis: auto;
  padding-left: 27px;
}
.nav-box:last-child {
  align-self: center;
  flex-grow: 3;
  flex-basis: auto;
}
.btn-menu,
.menu-dash {
  display: none;
}

/* Media Queries */
@media (max-width: 1550px) {
  select {
    margin-top: 18px;
  }
  .container {
    text-align: center;
  }
  .check-box {
    justify-content: center;
  }
}
@media (min-height: 970px) {
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .nav-menu {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .btn-menu {
    display: block;
    width: 45px;
    height: 47px;
    border: solid 3px black;
    border-radius: 9px;
    margin-right: 27px;
  }
  .btn-menu:hover {
    cursor: pointer;
    box-shadow: 3px 3px 9px var(--main-bg-color);
  }
  .menu-dash {
    display: block;
    height: 3px;
    width: 27px;
    background-color: black;
    margin: 8px auto;
  }
}
