body {
  background-color: grey;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
}
h3 {
  font-weight: 300;
  font-style: italic;
}
form {
  width: 50%;
  margin: 0 auto;
  padding: 18px;
  color: #000000;
  border: 3px dashed #ffffff;
  border-radius: 18px;
}
fieldset {
  background-color: #d8eeeb;
  border: none;
  border-radius: 9px;
  position: relative;
}
legend {
  padding: 18px;
  background-color: #d8eeeb;
  border: 3px solid grey;
  border-radius: 9px;
}
input {
  width: 100%;
  padding: 9px 18px;
  border: none;
  border-bottom: 3px solid grey;
  border-radius: 9px;
  font-family: "Roboto Mono", monospace;
  outline: none;
}
textarea {
  border: none;
  border-bottom: 3px solid grey;
  border-radius: 9px;
}
button {
  background-color: #d8eeeb;
  position: absolute;
  bottom: -10%;
  right: 0;
  padding: 6px 18px;
  border-radius: 9px;
  border: white 2px solid;
}
input,
label {
  margin-bottom: 18px;
  box-sizing: border-box;
}
select,
option,
textarea,
button {
  font-family: "Roboto Mono", monospace;
}

.container {
  margin: 10% 10%;
}
.check-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.check-box input,
.check-box label {
  margin-bottom: 0;
}
.check-box label {
  width: 100%;
}

.txt-msg {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
